* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /*outline: 1px solid red;*/
}

body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.top{
    display: flex;
    flex-direction: column;
    background: #1F2937;
}

.top .header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .logo{
    font-size: 24px;
    color: #F9FAF8;
}

ul{
    display: flex;
    gap: 24px;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    
}

#orange:hover {
    background-color: orange;
  }

#tuxedo:hover {
    background-color: grey;
  }

#white:hover {
    background-color: white;
  }

.top .first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;

}

.first .hero-container,
.first .img-container{
  width: 400px;
  
}


.hero-main{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.hero-secondary{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;

}

.hero-button{
    background-color: #3882F6;
    border-radius: 16px;
    width: 100px;
    height: 32px;
    color: #E5E7EB;
}

img{
    width: 400px;
    height: 200px;
}

.random-information {
    text-align: center;
    margin-bottom: 50px;
}

.random-information img{
    width: 200px;
    height: 200px;
}
  
.random-information .title {
    margin: 32px 0;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
  }
  
.random-information .container {
    display: flex;
    justify-content: center;
    gap: 52px;
  }
  
  .random-information .info {
    max-width: 200px;
  }

  .quote{
    background: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    font-style:italic;
    color: #1F2937;
    padding: 50px;
  }

  .quote .quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
  }

  .quote-container .quotee{
    align-self: flex-end;
  }


.sign-up{
    padding: 50px;
  }

.sign-up .sign-up-container{
    background: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    border-radius: 16px;
}
.sign-up-container button{
    background: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-radius: 8px;
    width: 100px;
}

.footer{
    background: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
}

.footer .copyright-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 8px;
}
